{{#machines}}
<div class="large-4 medium-6 small-12 cell">
	<div class="machine {{status}} grid-x">
		<div class="machine-icon {{type}} small-1 cell"></div>
		<div class="machine-info small-11 cell"
			id="machine-{{id}}"
			data-toggler=".expanded"
			>
			<a data-toggle="machine-{{id}}">
				<div class="machine-info-header">
					<h5>{{name}}</h5>
				</div>
			</a>
			<div id="info-{{id}}"
				class="machine-info-body card">
				<img src='{{image}}' alt="{{name}} {{state}}" />
				<div class="card-section">
					<p>Status: <span class="label {{label.class}}">
					{{label.message}}</span></p>
					<p>Machine Type: <strong>{{type}}</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>
{{/machines}}
<div class="small-12 cell">
	<div class="secondary callout updated">
		<p>Last updated: {{updated}}</p>
	</div>
</div>
